.TodoWrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #1e0635;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}
h1 {
  color: #28a745;
}
.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #a658ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #5877ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #588dff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.mark-as-done-btn {
  background: #28a76c;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mark-as-done-btn:hover {
  background: #218838;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
